.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20vh;
    background-color: rgb(0, 61, 173);
}

.footer-main .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
   
    color: white;
    font-weight: 400;
}

.footer-main .footer-container div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
}

.footer-main .footer-container div a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}


