.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10vh;
}

.header-main .box-header1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 15%;
}

.header-main img {
    width: 70%;
}

.header-main .box-header2 {
    display: flex;
    width: 37vw;
    color: rgb(0, 99, 165);
}

.header-main ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.3vw;
    padding: 0; 
}

.header-main ul li {
    cursor: pointer;
}

.header-main ul li:hover {
    color: gray;
}



.menu-mobile {
    background-image: url('../images/openmenumobile.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 107, 230);
    border-radius: 50%;
    display: none;
}

.menu-mobile ul {
    display: none;
}

.header-main .box-header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    position: absolute;
    margin-left: 81.5vw;
}

.header-main .box-header3 .theme-modes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.header-main .box-header3 .theme-modes img {
    width: 40%;
}

.header-main .box-header3 .choose-language {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 4vh;
}

.header-main .box-header3 .choose-language a {
    width: 75%;
}





/*Small tablets*/
@media ( min-width: 768px ) and ( max-width: 991px ) {
    .header-main img {
        width: 80%;
    }

    .header-main .box-header2 {
        display: flex;
        width: 30em;
        color: rgb(0, 99, 165);
        font-size: 13px;
    }

    .header-main .box-header3 {
        margin-left: 13vw;
    }

    .header-main .box-header3 .theme-modes img {
        width: 35%;
    }
    
    .header-main .box-header3 .choose-language a {
        width: 65%;
    }
}


/*MOBILE*/
@media ( max-width: 480px ) {
    .header-main {
        justify-content: space-between;
        width: 80%;
        height: 3.5em;
    }

    .header-main .box-header1 {
        width: 20%;
    }

    .header-main img {
        width: 100%;
    }

    .header-main .box-header2 .menu-desktop {
        display: none;
    }

    .header-main .box-header2 {
        width: 2em;
    }

    .menu-mobile {
        display: block;
    }

    .menu-mobile ul {
        font-size: 13px;
        z-index: 100;
        margin-top: 35px;
        margin-left: -40px;
        padding: 5px;
        color: white;
        background-color: rgb(0, 92, 212);
        width: 100px;
        height: 120px;
    }

    .menu-mobile ul li {
        margin-top: 6px;
        text-align: center;
    }




    .header-main .box-header3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        margin-left: 0vw;
        position: inherit;
    }

    .header-main .box-header3 .theme-modes {
        width: 60%;
    }

    .header-main .box-header3 .choose-language {
        width: 60%;
    }
}


/*Extra large screens*/
/*@media (min-width: 1920px) {
    .header-main img {
        width: 55%;
    }
}*/

