.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10vh;
}

.header-main .box-header1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 15%;
}

.header-main img {
    width: 70%;
}

.header-main .box-header2 {
    display: flex;
    width: 47%;
}

.header-main ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 500;
    font-size: 105%;
    color: rgb(0, 94, 156);
    padding: 0; 
}

.header-main ul li {
    cursor: pointer;
}
