.welcome-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 35vh;
}

.welcome-main .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 13.5vw;
    height: 13.5vw;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    background-color: rgb(21, 92, 184);
    border-radius: 6%;
}

.welcome-main .about-me2 {
    width: 80%;
    font-size: 1.5vw;
    font-weight: 600;
    color: rgb(141, 141, 141);
}



/*Small tablets*/
@media ( min-width: 768px ) and ( max-width: 991px ) {
    .welcome-main {
        height: 200px;
    }

    .welcome-main .about-me {
        width: 150px;
        height: 150px;
        font-size: 40px;
        font-weight: bold;
    }

    .welcome-main .about-me2 {
        height: 90%;
        justify-content: start;
        overflow-x: scroll;
        width: 70%;
        font-size: 1.5em;
    }
}

/*MOBILE*/
@media ( max-width: 480px ) {
    .welcome-main {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 80%;
        height: 120px;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow-x: scroll;
    }
    
    .welcome-main .about-me {
        display: none;
    }
    
    .welcome-main .about-me2 {
        width: 100%;
        font-size: 1.1em;
        color: #8d8d8d;
    }
}


/*Extra large screens*/
/*@media (min-width: 1920px) {
    .welcome-main .about-me2 {
        width: 85%;
        font-size: 1.5em;
    }
}*/

