.welcome-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 250px;
}

.welcome-main .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    height: 180px;
    font-size: 55px;
    font-weight: bold;
    color: white;
    background-color: rgb(21, 92, 184);
    border-radius: 6%;
}

.welcome-main .about-me2 {
    width: 80%;
    font-size: 1.4em;
    font-weight: 600;
    color: rgb(141, 141, 141);
}



/*TABLET*/
@media ( max-width: 820px ) {
    .welcome-main {
        height: 200px;
    }

    .welcome-main .about-me {
        width: 150px;
        height: 150px;
        font-size: 40px;
        font-weight: bold;
    }

    .welcome-main .about-me2 {
        width: 70%;
        font-size: 1em;
    }
}

/*MOBILE*/
@media ( max-width: 480px ) {
    .welcome-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 120px;
    }
    
    .welcome-main .about-me {
        display: none;
    }
    
    .welcome-main .about-me2 {
        width: 100%;
        font-size: 0.6em;
        font-weight: 600;
        color: rgb(141, 141, 141);
    }
    
}

